{% extends 'base.html.twig' %}

{% block body %}
    <main class="page-content">
        <div class="page-header-promo" style="background-image: url({{ asset('assets/img/upload/slide4.jpg') }})">
            <div class="page-header-promo__container">
                <div class="page-header-promo__content">
                    <h1>Архив</h1>
                </div>
            </div>
        </div>

        <section class="events" data-archive="true">
            <div class="events__filter filter-sort">
                <div class="filter-sort__container">
                    <div class="filter-sort__heading">
                        {% if currentCity.tagText is defined and currentCity.tagText is not empty %}
                            {{ currentCity.tagText }}
                        {% else %}
                            Мероприятия:
                        {% endif %}
                    </div>

                    {% if tags is defined and tags is not null and tags|length > 0 %}
                        <div class="filter-sort__navigation">
                            <div class="filter-sort__navigation-inner">
                                <a href="#*" data-id="" class="filter-item__tag filter-sort__navigation-link is-active">Все</a>
                                {% for tag in tags %}
                                    <a href="#.f_{{ tag.id }}" data-id="{{ tag.id }}"  class="filter-item__tag filter-sort__navigation-link">{{ tag.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="events__grid events-grid js-group-filter">
                {{ include('event/__archive_events_list.html.twig', {'events': events}) }}
                <a href="{{ getSiteSettingByKey('instagram') is not null ? getSiteSettingByKey('instagram') : '#' }}" target="_blank" class="events-grid__item event event_instagramm event_size_xs">
                    <span class="event__picture" style="background-image: url({{ getSiteSettingByKey('instagram_last_photo') ? : asset('assets/img/upload/cover-11.png') }});"></span>

                    <div class="event__content">
                        <div class="event__main">
                            <div class="event__logo">
                                <img src="{{ asset('assets/img/instagram-logo.svg') }}" alt="instagram logo"/>
                            </div>
                            <div class="event__title">artistikashow</div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>
{% endblock %}