{% if data.reason is not null %}
<p>Причина обращения: {{ data.reason }}</p>
{% endif %}
{% if data.smi_link is not null %}
    <p>Ссылка на СМИ: {{ data.smi_link }}</p>
{% endif %}
{% if data.artist_name is not null %}
    <p>Имя артиста: {{ data.artist_name }}</p>
{% endif %}
{% if data.event_format is not null %}
    <p>Формат мероприятия: {{ data.event_format }}</p>
{% endif %}
<p>Имя отправителя: {{ data.name }}</p>
<p>Телефон отправителя: {{ data.phone }}</p>
<p>Email отправителя: {{ data.email }}</p>
{% if data.comment is not null %}
    <p>Комментарий отправителя: {{ data.comment }}</p>
{% endif %}