<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Oswald:300,400,500,600,700&display=swap&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" >
        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="background-color:">

        {% include 'blocks/header.html.twig' %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% include 'blocks/footer.html.twig' %}

        <script src="{{ asset('assets/js/main.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script src="{{ asset('assets/js/custom.js') }}"></script>
    </body>
</html>
