<section class="promo-slider js-promo-slider">
    <div class="promo-slider__container swiper-container">
        <div class="promo-slider__wrapper swiper-wrapper">
            {% if slides is defined and slides|length > 0 %}
                {% for slide in slides %}
                    {% if slide.event is defined %}
                        <div class="promo-slider__slide slice-slide swiper-slide">
                            <div class="slice-slide__container">
                                {% if slide.picture is defined and slide.picture is not null %}
                                    <span class="slice-slide__picture" style="background-image: url({% path slide.getPicture(), 'reference' %})"></span>
                                {% endif %}
                                <div class="slice-slide__info">
                                    <a href="{{ path('app.event.show', {'city' : slide.event.city.getSlug(), 'event': slide.event.getSlug()}) }}"
                                       data-cursor-pointer class="slice-slide__title">
                                        {{ slide.event.getArtist() }}
                                    </a>
                                    <div class="slice-slide__footer">
                                        <div class="slice-slide__event-info">
                                            <time class="slice-slide__event-time">{{ slide.event.getStartedAt()|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM' ) }}</time>
                                            / <span class="slice-slide__event-place">{{ slide.event.hall.getTitle() }}</span>
                                        </div>

                                        {% if slide.event.tickets is not null %}
                                            {% if slide.event.tickets|length > 1 %}
                                                <a href="{{ path('app.event.show', {'city' : slide.event.city.getSlug(), 'event': slide.event.getSlug()}) }}" target="_blank" data-cursor-pointer class="slice-slide__event-bill button-bill">
                                                    Билеты
                                                </a>
                                            {% elseif slide.event.tickets[0] is defined %}
                                                <a href="{{ slide.event.tickets[0].getTickets() }}" target="_blank" data-cursor-pointer class="slice-slide__event-bill button-bill">
                                                    Билеты
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="promo-slider__slide slice-slide swiper-slide">
                    <div class="slice-slide__container">
                        <span class="slice-slide__picture" style="background-image: url({{ asset('assets/img/upload/dummy.jpg') }})"></span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="promo-slider__arrow arrow-prev"></div>
        <div class="promo-slider__arrow arrow-next"></div>
    </div>
</section>
